	body {width:800; height:600;}
	table, th, td {
    	border: 1px solid black;
    	text-align: center;
	}

	/* The Modal (background) */
	.modal {
	    display: none; /* Hidden by default */
	    position: fixed; /* Stay in place */
	    z-index: 1; /* Sit on top */
	    padding-top: 100px; /* Location of the box */
	    left: 0;
	    top: 0;
	    width: 100%; /* Full width */
	    height: 80%; /* Full height */
	    overflow: auto; /* Enable scroll if needed */
	    background-color: rgb(0,0,0); /* Fallback color */
	    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
	}

	/* Modal Content */
	.modal-content {
	    position: relative;
	    background-color: #fefefe;
	    margin: auto;
	    padding: 0;
	    border: 1px solid #888;
	    width: 80%;
	    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
	    -webkit-animation-name: animatetop;
	    -webkit-animation-duration: 0.4s;
	    animation-name: animatetop;
	    animation-duration: 0.4s
	}

	/* Add Animation */
	@-webkit-keyframes animatetop {
	    from {top:-300px; opacity:0} 
	    to {top:0; opacity:1}
	}

	@keyframes animatetop {
	    from {top:-300px; opacity:0}
	    to {top:0; opacity:1}
	}

	/* The Close Button */
	.close {
	    color: white;
	    float: right;
	    font-size: 28px;
	    font-weight: bold;
	}

	.close:hover,
	.close:focus {
	    color: #000;
	    text-decoration: none;
	    cursor: pointer;
	}

	.modal-header {
	    padding: 2px 16px;
	   /* */
	    background-image: url("epl.gif");
	    background-repeat: no-repeat;
		background-size: 100%;
	    color: white;
	}

	.modal-body {
		padding: 2px 16px;
		background-image: url("football1.jpeg");
		background-repeat: no-repeat;
		background-size: cover; 
	}

	.modal-footer {
	    padding: 2px 16px;
	    background-color: #5cb85c;
	    color: white;
	}
	.hidden { 
	/*display: none; */
		padding-top: 20px;
	}
	#div1 {
		padding: 20px;
	}
	img {
		border: 1px solid #888;
		border-radius: 25px;
	}
	body {
		width: 500px;
		height: 580px;
		background-image: url("football.jpg");
		background-repeat: no-repeat;
		background-size: cover;
	    font-style: italic;
	    color : #131314;
	}
	button {
		border-radius: 8px;
		padding: 10px;
		margin: 5px;
		background-color: #96999e;
		font-size: 16px;
		border: 2px solid #37383a;
		-webkit-transition-duration: 0.4s; 
    	transition-duration: 0.4s;
        font-style: italic;
        font-weight: bold;
        color : #131314;
	}
	button:hover {
    background-color: #37383a; 
    color: white;
	}
	table {
		color : #131314;
		/*border: 2px solid white;*/
		font-weight: bold;
	    font-style: italic;
	}
	h1 {
		padding-top: 5px;
		padding-bottom: 25px;
		font-style: italic;
        font-weight: bold;
        color : white;
	}